#  Pandas tutorial

Pandas (panel data) is the second most useful Python library for data analysis and preparation. It allows to work with tabular data and provides very efficient and easy methods for:
- data selection
- data modification
- data indexing
- merging of data from various sources
- transforming data
- feeding data into `scikit-learn` and other ML-related libraries

In this tutorial we will go through the most useful and common operations performed on pandas.

There are two fundamental data structures that you need to understand:

- `pd.Series`: similar to a list, requires all elements to be of the same type, but provides additional methods and operations
- `pd.DataFrame`: this is the data structure which represents tabular data, each column in a data frame is a `Series` object, in addition each data frame contains a row index and a column index.

Let's dive into coding.

## Manual creation of a data frame

By convention, `pandas` library is imported using the alias `pd`.

The simplest way to create a dataframe is to provide a dictionary of lists. Each key becomes the name of the column, each list becomes the series contained in the column.

In [1]:
import pandas as pd

df = pd.DataFrame(
{
    'Code': ['PL', 'DE', 'GB', 'CZ'],
    'Name': ['Poland', 'Germany', 'Great Britain', 'Czech Republic'],
    'Population': [38000000, 80000000, 65000000, 10000000]
})

df

  Code            Name  Population
0   PL          Poland    38000000
1   DE         Germany    80000000
2   GB   Great Britain    65000000
3   CZ  Czech Republic    10000000

Each column is a `pd.Series` object. We can inspect it using either the dot notation, or by referring to the column by its name in brackets.

In [2]:
df.Population

0    38000000
1    80000000
2    65000000
3    10000000
Name: Population, dtype: int64

In [3]:
df[['Code','Population']]

  Code  Population
0   PL    38000000
1   DE    80000000
2   GB    65000000
3   CZ    10000000

## Reading data from a file

There are two most common ways of reading text files into `pandas`:
- `pd.read_table`: assumes tab-separated text file
- `pd.read_csv`: assumes comma-separated text file

For the sake of reproducibility we will use public onlie datasets and we will read them directly off the Web. Please take a moment to investigate these datasets:

- [Chipotle orders](https://bit.ly/chiporders)
- [UFO sighting reports](https://bit.ly/uforeports)
- [IMDB movie ratings](https://bit.ly/imdbratings)
- [Drinking by country](https://bit.ly/drinksbycountry)

In [4]:
orders = pd.read_table('https://bit.ly/chiporders')

orders.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [5]:
ufo = pd.read_csv('https://bit.ly/uforeports')

ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

Individual series can be concatenated just like strings in Python.

In [6]:
orders.item_name + ' ' + orders.item_price

0                Chips and Fresh Tomato Salsa $2.39
1                                        Izze $3.39
2                            Nantucket Nectar $3.39
3       Chips and Tomatillo-Green Chili Salsa $2.39
4                               Chicken Bowl $16.98
                            ...
4617                           Steak Burrito $11.75
4618                           Steak Burrito $11.75
4619                      Chicken Salad Bowl $11.25
4620                       Chicken Salad Bowl $8.75
4621                       Chicken Salad Bowl $8.75
Length: 4622, dtype: object

## Analyzing a data frame

`pandas` provides simple methods that allow you to investigate the aggregate properties of individual series and the entire data frame.

In [7]:
movies = pd.read_csv('https://bit.ly/imdbratings')

movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

A simple way to quickly learn the distribution of a feature is to use the `describe()` method

In [8]:
movies.duration.describe()

count    979.000000
mean     120.979571
std       26.218010
min       64.000000
25%      102.000000
50%      117.000000
75%      134.000000
max      242.000000
Name: duration, dtype: float64

The output of the `describe()` method depends on whether the feature is numerical or categorical.

In [9]:
movies.genre.describe()

count       979
unique       16
top       Drama
freq        278
Name: genre, dtype: object

One can apply the `describe()` method to the entire dataframe as well.

In [10]:
movies.describe()

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

In [11]:
movies.shape

(979, 6)

In [12]:
movies.columns

Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
       'actors_list'],
      dtype='object')

In [13]:
movies.dtypes

star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
dtype: object

For more advanced analysis of `pandas` dataframe we can use the excellent `pandas-profiling` library

In [14]:
from pandas_profiling import ProfileReport

movies_profile = ProfileReport(df=movies, title="Analysis of the Movies dataframe", explorative=True)
movies_profile

# or simply: movies.profile_report(title="Analysis of the Movies dataframe")

ModuleNotFoundError: No module named 'pandas_profiling'

## Renaming columns

In [ ]:
ufo = pd.read_csv('https://bit.ly/uforeports')

ufo.columns

In [ ]:
ufo['Colors Reported']

If a column name contains a space, it can no longer be used with the dot notation. There are many ways a column may be renamed.

In [ ]:
ufo.rename(
    columns={'Colors Reported': 'Colors_Reported', 'Time': 'Date and tmie'},
    inplace=True
)

In [ ]:
ufo.columns

In [ ]:
col_names = ['city', 'colors_reported', 'shape_reported', 'state', 'time']

pd.read_csv('https://bit.ly/uforeports', names=col_names)

In [ ]:
ufo.columns = ['a', 'b', 'c', 'd', 'e']

ufo.head()

## Dropping rows and columns

An important concept in `pandas` is the concept of an **axis**. An axis is the direction in which an operation is performed. 0-axis refers to an operation that is applied along rows, 1-axis refers to an operation which is applied along columns.

By default, `pandas` expects the rows to be dropped, so if you want to drop a column, you have to explicitly state `axis=1`.

In [ ]:
drinks = pd.read_csv('https://bit.ly/drinksbycountry')

drinks.head()

In [ ]:
drinks.shape

In [ ]:
drinks.mean(numeric_only=True)

In [ ]:
drinks.mean(numeric_only=True, axis=1)

In [ ]:
ufo = pd.read_csv('https://bit.ly/uforeports')

In [ ]:
ufo.head()

In [ ]:
ufo.drop('City', axis=1)

In [ ]:
ufo_backup = ufo.set_index('City')

In [ ]:
ufo_backup.head()

In [ ]:
ufo_backup.drop('Holyoke')

In [ ]:
ufo.drop('Time', axis=1)

In [ ]:
ufo.head()

In [ ]:
ufo.drop([1,3,4]).head()

In [ ]:
ufo.index[0:10]

In [ ]:
ufo.drop(ufo.index[0:3]).head()

All these operations do not change the underlying object, but return a modified copy of the object. If you want to perform the operation on the object, you should:
- add `inplace=True`: more efficient and explicit, or
- use assignment: may be a bit slower, but many people prefer this

In [ ]:
ufo.drop('State', axis=1, inplace=True)

ufo.head()

In [ ]:
ufo = ufo.drop([0,1,4])

ufo.head()

## Exercise

1. Read the *Titanic* dataset from https://tinyurl.com/y9p968ys into a dataframe called `titanic`
2. Display first 15 rows of the dataset
3. Rename `PassengerId` to `ID`, `Lname` to `last_name`, and `Name` to `first_name`

In [17]:
titanic = pd.read_csv("https://tinyurl.com/y9p968ys")
titanic.rename(columns = {"PassengerId":"ID", "Lname":"last_name", "Name":"first_name"}, inplace = True)
titanic.head(15)

,ID,Survived,Pclass,last_name,first_name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,Braund,Mr. Owen Harris,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,Cumings,Mrs. John Bradley (Florence Briggs Thayer),female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,Heikkinen,Miss. Laina,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,Futrelle,Mrs. Jacques Heath (Lily May Peel),female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,Allen,Mr. William Henry,male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,Moran,Mr. James,male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,McCarthy,Mr. Timothy J,male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,Palsson,Master. Gosta Leonard,male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,Johnson,Mrs. Oscar W (Elisabeth Vilhelmina Berg),female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,Nasser,Mrs. Nicholas (Adele Achem),female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,Sandstrom,Miss. Marguerite Rut,female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,Bonnell,Miss. Elizabeth,female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,Saundercock,Mr. William Henry,male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,Andersson,Mr. Anders Johan,male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,Vestrom,Miss. Hulda Amanda Adolfina,female,14.0,0,0,350406,7.8542,NaN,S

## Sorting data frames

You can sort individual series within a data frame, and you can sort the entire data frame. Sorting can be made permanent.

In [ ]:
movies = pd.read_csv('https://bit.ly/imdbratings')

movies.head()

In [ ]:
m = movies.set_index('title')

m.sort_index(ascending=True)

In [ ]:
movies.duration.sort_values(ascending=False)

In [ ]:
movies.sort_values('title', ascending=True)

In [ ]:
movies.sort_values(['content_rating', 'duration'])

## Filter rows by a value in a column

The filtering in `pandas` works very similarly to the way we do filtering in `NumPy`. We will start with creating a boolean series based on a condition, and then we will pass this series as an indexer to the data frame.

In [ ]:
horror_idx = movies.genre == 'Horror'

long_movies_idx = movies.duration > 120

In [ ]:
movies[horror_idx  | long_movies_idx]

In [ ]:
movies.shape

In [ ]:
movies.genre.isin(['Horror','Thriller','Mystery'])

If we want to combine several conditions, there are two important things to remember:
- each condition must be in parentheses to help `pandas` establish the order of execution
- instead of `and`, `or` operators we must use `&` and `|`

In [ ]:
movies[ (movies.genre == 'Horror') & (movies.duration > 120)]

We may also negate an index

In [ ]:
movies[~(movies.duration > 120)]

## Exercise

1. Sort the `titanic` dataframe in the decreasing order of the fare price
2. Create a new dataframe `titanic_f` containing only information on female passengers
3. Create a new dataframe `titanic_x` containing only young passenges (age < 18) who did not embark in Cork.

In [19]:
titanic = titanic.sort_values("Fare", ascending=False)
titanic_f = titanic[titanic.Sex == 'female']
titanic_m = titanic[titanic.Sex == 'male']
titanic_m.head()

,ID,Survived,Pclass,last_name,first_name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
27,28,0,1,Fortune,Mr. Charles Alexander,male,19.0,3,2,19950,263.0000,C23 C25 C27,S
118,119,0,1,Baxter,Mr. Quigg Edmond,male,24.0,0,1,PC 17558,247.5208,B58 B60,C
62,63,0,1,Harris,Mr. Henry Birkhardt,male,45.0,1,0,36973,83.4750,C83,S
34,35,0,1,Meyer,Mr. Edgar Joseph,male,28.0,1,0,PC 17604,82.1708,NaN,C
139,140,0,1,Giglio,Mr. Victor,male,24.0,0,0,PC 17593,79.2000,B86,C

## String methods

`pandas` makes it very easy to use all the string methods on data frame. Just remember to access these methods via the `str` attribute of the series. Method invocations can be easily chained because each method returns a `Series` object.

In [26]:
orders = pd.read_table('https://bit.ly/chiporders')

orders.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [27]:
orders.item_name

0                Chips and Fresh Tomato Salsa
1                                        Izze
2                            Nantucket Nectar
3       Chips and Tomatillo-Green Chili Salsa
4                                Chicken Bowl
                        ...
4617                            Steak Burrito
4618                            Steak Burrito
4619                       Chicken Salad Bowl
4620                       Chicken Salad Bowl
4621                       Chicken Salad Bowl
Name: item_name, Length: 4622, dtype: object

In [28]:
orders.item_name.str.lower().str.replace('chicken', 'duck').str.split()

0                [chips, and, fresh, tomato, salsa]
1                                            [izze]
2                               [nantucket, nectar]
3       [chips, and, tomatillo-green, chili, salsa]
4                                      [duck, bowl]
                           ...
4617                               [steak, burrito]
4618                               [steak, burrito]
4619                            [duck, salad, bowl]
4620                            [duck, salad, bowl]
4621                            [duck, salad, bowl]
Name: item_name, Length: 4622, dtype: object

In [29]:
"mary had a little lamb".split()

['mary', 'had', 'a', 'little', 'lamb']

## Exercise

Using the Titanic dataset create a list of names of passengers consisting of the title (Mr., Miss., Mrs.) and the last name.

In [39]:
titanic_passangers = [titanic.first_name.str.split().apply(lambda x: x[0]), titanic.last_name]
titanic_passangers = titanic.first_name.str.split().str[0].str.cat(titanic.last_name)
titanic_passangers

88     Miss.Fortune
27       Mr.Fortune
118       Mr.Baxter
31      Mrs.Spencer
62        Mr.Harris
           ...
26          Mr.Emir
127       Mr.Madsen
131       Mr.Coelho
129      Mr.Ekstrom
143        Mr.Burke
Name: first_name, Length: 156, dtype: object

## Changing data type of a series

All elements in a `Series` object must have the same type. It is possible to cast the entire series to a new type using the builtin `Series.astype()` function. This can be done either during data reading, or after the data frame has been created.

In [ ]:
orders.dtypes

In [ ]:
orders.head()

In [ ]:
orders.order_id.astype(float)

In [ ]:
orders = pd.read_table('https://bit.ly/chiporders', dtype={'quantity': float})

orders.dtypes

If we want to convert `item_price` to a number, we have to first remove the dollar sign from the string representation of the series, and then cast the entire series.

In [ ]:
orders.head()

In [ ]:
orders['item_price'] = orders.item_price.str.replace('$','', regex=False).astype(float)

In [ ]:
orders.dtypes

## Group by

`Pandas` offers a very broad range of methods for advanced data processing. A common operation is to create aggregates of the table based on the grouping of data on a column. This can be easily achieved using a single function call.

In [ ]:
drinks = pd.read_csv('https://bit.ly/drinksbycountry')

drinks.head()

In [ ]:
drinks.mean(numeric_only=True)

In [ ]:
drinks.groupby('continent')

In [ ]:
drinks.groupby('continent').beer_servings.mean()

In [ ]:
drinks.groupby('continent').std(numeric_only=True)

We can apply several aggregate functions to a grouped data frame using the `agg()` function

In [ ]:
myagg = ['mean', 'min', 'max', 'count']

drinks.groupby('continent').beer_servings.agg(myagg)

The results of the group by operation can be quickly visualized.

In [ ]:
%matplotlib inline

drinks.beer_servings.plot(kind='hist')

In [ ]:
drinks[['beer_servings', 'wine_servings']].plot(kind='scatter', x='beer_servings', y='wine_servings')

In [ ]:
drinks.beer_servings.plot(kind='barh')

## Exercise

1. Compute the number of passengers and the average ticket fare based on the port of embarkment
2. Draw the number of female and male passengers who have survived the sinking
3. Compare the mean age of passengers who survived the sinking with the mean age of passengers who have died

In [61]:
%matplotlib inline
num_passengers_avg_ticket = titanic.groupby(titanic.Embarked).agg({'ID':'count', 'Fare':'mean'})
num_passengers_avg_ticket
survived = titanic.groupby('Sex').Survived.sum()
survived
survived.plot(kind='bar')

# titanic.groupby('Survived').Age.mean()

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Karol\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py", line 3526, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Karol\AppData\Local\Temp\ipykernel_9024\2624276088.py", line 6, in <module>
    survived.plot(kind='bar')
  File "C:\Users\Karol\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\plotting\_core.py", line 951, in __call__
    )
  File "C:\Users\Karol\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\plotting\_core.py", line 1947, in _get_plot_backend
  File "C:\Users\Karol\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\plotting\_core.py", line 1877, in _load_backend
    ) from None
ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Karol\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py", line 2120, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Karol\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Karol\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Karol\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Karol\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Karol\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Karol\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Karol\AppData\Local\Programs\Python\Python39\lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Karol\AppData\Local\Programs\Python\Python39\lib\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Karol\AppData\Local\Programs\Python\Python39\lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Karol\AppData\Local\Programs\Python\Python39\lib\site-packages\stack_data\core.py", line 681, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
  File "C:\Users\Karol\AppData\Local\Programs\Python\Python39\lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Karol\AppData\Local\Programs\Python\Python39\lib\site-packages\stack_data\core.py", line 660, in executing_piece
    return only(
  File "C:\Users\Karol\AppData\Local\Programs\Python\Python39\lib\site-packages\executing\executing.py", line 116, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

## Exploring the data frame

Here we list some useful functions to run after reading the data to get some better understanding of the data.

In [ ]:
movies = pd.read_csv('https://bit.ly/imdbratings')

movies.head()

In [ ]:
movies.star_rating.describe()

In [ ]:
movies.genre.describe()

In [ ]:
movies.genre.value_counts().plot(kind='barh')

In [ ]:
movies.genre.value_counts(normalize=True)

Since the result of the `value_counts()` function is a `Series` object, we can process it further.

In [ ]:
movies.genre.value_counts(normalize=True).plot(kind='bar')

In [ ]:
movies.duration.plot(kind='hist')

In [ ]:
movies.genre.unique()

In [ ]:
genres = movies.genre.unique()

for g in genres:
    df = movies[movies.genre == g]
    ...

A useful method allows you to quickly create pivot tables from series objects.

In [ ]:
genres = movies.genre

ratings = movies.content_rating

In [ ]:
genres

In [ ]:
ratings

In [ ]:
pd.crosstab(genres, ratings)

## Handling missing values

When working with a data frame, we must be careful when the data contains missing values. Two functions are very useful when working with missing values:
- `isnull()`: returns `True` if a value is missing
- `dropna()`: allows to remove rows and/or columns with missing values

In [ ]:
ufo = pd.read_csv('https://bit.ly/uforeports')

ufo.head()

In [ ]:
ufo['Colors Reported'].isnull()

In [ ]:
ufo['Colors Reported'].isnull().sum()

In [ ]:
ufo.isnull().sum()

In [ ]:
ufo.shape

In [ ]:
ufo.dropna(how='all', axis=0, subset=['City', 'Colors Reported']) # all, subset

## Exercise

1. Remove from the `titanic` dataframe records which do not have the age of the passenger registered
2. Compute the number of missing cabin numbers for each class of passengers

In [47]:
titanic.head()

,ID,Survived,Pclass,last_name,first_name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
88,89,1,1,Fortune,Miss. Mabel Helen,female,23.0,3,2,19950,263.0000,C23 C25 C27,S
27,28,0,1,Fortune,Mr. Charles Alexander,male,19.0,3,2,19950,263.0000,C23 C25 C27,S
118,119,0,1,Baxter,Mr. Quigg Edmond,male,24.0,0,1,PC 17558,247.5208,B58 B60,C
31,32,1,1,Spencer,Mrs. William Augustus (Marie Eugenie),female,NaN,1,0,PC 17569,146.5208,B78,C
62,63,0,1,Harris,Mr. Henry Birkhardt,male,45.0,1,0,36973,83.4750,C83,S

In [63]:
titanic['Age'].dropna()
titanic.groupby('Pclass').Cabin.isnull().count()

AttributeError: 'SeriesGroupBy' object has no attribute 'isnull'

## What is an index?

An `Index` is a special type that can be used to access rows and columns. There are three main uses for an index:
- identification of rows/columns
- selection of rows/columns
- alignment of rows

In [ ]:
drinks = pd.read_csv('https://bit.ly/drinksbycountry')

drinks.head()

In [ ]:
drinks.set_index('country', inplace=True)

drinks.head()

Notice that the index of a data frame is inherited by all series.

In [ ]:
drinks.continent.head()

In [ ]:
drinks.continent.value_counts().values

In [ ]:
drinks.continent.value_counts().index

Index is very useful to select both rows and columns. All you need to remember is that `pd.loc` function expects you to provide index entries for rows and columns that you want to retrieve.

## Indexing with `loc`, `iloc`, and `ix`

This is quite confusing. Try to remember the following rules:
- `loc` uses row/column indexes (aka labels), the ranges are **inclusive**
- `iloc` uses integer positions on the list of rows and columns, the ranges are **exclusive**
- `ix` was an old way of indexing a dataframe allowing to use both labels and integer positions, it is deprecated

In [ ]:
drinks.head()

In [ ]:
drinks.loc[ :,: ]

In [ ]:
drinks.loc['Gabon':'Guyana', 'beer_servings':'wine_servings']

In [ ]:
drinks.columns

In [ ]:
drinks.loc['Poland': 'Romania', 'beer_servings':'wine_servings']

In [ ]:
drinks.head()

In [ ]:
drinks.iloc[0:4,1:3]

Let's create a `Series` object with an index that can be aligned with our `drinks` data frame.

In [ ]:
population = pd.Series([4000000, 38000000, 80000000, 70000000], 
                       index=['Albania', 'Poland', 'Germany', 'France'], 
                       name='population')

population

In [ ]:
drinks.loc[['Albania', 'Poland', 'Germany', 'France', 'Greece']].beer_servings * population

In [ ]:
pd.concat([drinks, population], axis=1)

You can always revert to a default "row number" index and move the index column to the column list.

In [ ]:
drinks.reset_index(inplace=True)

drinks.head()

In [ ]:
ufo = pd.read_csv('https://bit.ly/uforeports')

ufo.head()

In [ ]:
ufo.loc[0:3, :]

In [ ]:
ufo.loc[[0,2,4], 'City':'State']

In [ ]:
ufo.iloc[0:3, 1:3]

## Categories and ordered categories

For certain types of columns the data frame can be optimized by switching the type of a column (especially a column used in selection or grouping) into a category type.

In [ ]:
drinks = pd.read_csv('https://bit.ly/drinksbycountry')

drinks.head()

In [ ]:
drinks.info()

In [ ]:
drinks.info(memory_usage='deep')

In [ ]:
drinks.continent.memory_usage(deep=True)

In [ ]:
drinks.continent

In [ ]:
drinks.continent = drinks.continent.astype('category')

drinks.continent.memory_usage(deep=True)

In [ ]:
drinks.continent

You can perform various operations on a category, just remember to access it via `cat` property.

In [ ]:
drinks.continent.cat.codes

In [ ]:
drinks.continent.cat.as_ordered()

Ordered category can be used to allow for logical sorting of rows.

In [ ]:
df = pd.DataFrame({
    'name': ['Mount Everest', 'Kilimanjaro', 'Rysy'],
    'height': ['very high', 'high', 'low']
})

df

In [ ]:
df.sort_values('height')

In [ ]:
from pandas.api.types import CategoricalDtype

heights = CategoricalDtype(categories=['low', 'high', 'very high'], ordered=True)

df['height'] = df.height.astype(heights)

In [ ]:
df.sort_values('height')

## Exercise

1. Change the index of the `titanic` dataframe to the ticket number
2. Change the `Pclass` attribute into a category.

## Creating binary variables from categorical columns

Often in data mining we want to binarize categorical features. One of the most common encodings is the dummy encoding, where a feature with `n` values is turned into `n-1` binary columns

In [ ]:
ufo = pd.read_csv('https://bit.ly/uforeports')

ufo.head()

In [ ]:
ufo.State.map({'NY': 'New York', 'NJ': 'New Jersey', 'CO': 'Colorado'})

In [ ]:
pd.get_dummies(ufo.State)

In [ ]:
pd.get_dummies(ufo.State, prefix='state')

In [ ]:
pd.get_dummies(ufo.State, prefix='state').sum(axis=0)

In [ ]:
pd.get_dummies(ufo.State, prefix='state').sum(axis=1)

In [ ]:
df = pd.DataFrame({'gender': ['M', 'F', 'F', 'M', 'F', 'M', 'N', 'N']})
df

In [ ]:
pd.get_dummies(df.gender)

In [ ]:
pd.get_dummies(df.gender, drop_first=True)

## Display options 

The way `pandas` dataframes are displayed insied a notebook can be modified by accessing display options. Two functions are handy for that:
- `get_option()`: check the current setting
- `set_option()`: modify the current setting

Let's change the following settings:
- the number of rows displayed
- the precision of floats
- the maximum width of a column

In [ ]:
movies = pd.read_csv('https://bit.ly/imdbratings')

movies.head()

In [ ]:
pd.set_option('display.max_rows', None)
pd.set_option('display.precision', 0)
pd.set_option('display.max_colwidth', 25)

In [ ]:
movies

In [ ]:
pd.reset_option('display.max_rows')
pd.reset_option('display.precision')
pd.reset_option('display.max_colwidth')

## Applying functions to data frame columns

We can easily apply functions to data frame columns on the fly, or create new columns as the result of applying a function to an existing column. We've seen this behavior before. Two of the most common ways to do it are the `map()` function and the `apply()` function.

In [ ]:
drinks = pd.read_csv('https://bit.ly/drinksbycountry')

drinks.head()

In [ ]:
drinks.country.str.lower()

In [ ]:
lst = list(range(10))

In [ ]:
import numpy as np

list(map(lambda x: x**2, lst))

In [ ]:
drinks.country.map(str.lower)

In [ ]:
def get_serious_drinkers(total_alcohol: float) -> bool:
    if total_alcohol >= 10.0:
        return True
    else:
        return False

In [ ]:
drinks.total_litres_of_pure_alcohol.apply(get_serious_drinkers)

In [ ]:
drinks['heavy_drinkers'] = drinks.total_litres_of_pure_alcohol.apply(get_serious_drinkers)

In [ ]:
drinks[drinks.heavy_drinkers]

In [ ]:
drinks.total_litres_of_pure_alcohol.apply(lambda x: True if x > 10 else False )

Instead of writing a separate function, many people prefer to use anonymous lambda funciton instead. What you see below is a very common pattern for `pandas` processing.

In [ ]:
drinks['country_initial'] = drinks.country.apply(lambda x: x[0])

drinks.head(20)

If the function takes long to apply, it makes sense to start monitoring the progress via `tqdm`

In [ ]:
import time
from tqdm import tqdm

tqdm.pandas()

def dummy_func(x):
    time.sleep(0.1)
    return x

drinks.total_litres_of_pure_alcohol.progress_apply(dummy_func)

Sometimes, we want to apply a min/max function to a set of columns and find which column produces the result. This can be achieved using the `idxmax` function.

In [ ]:
drinks.loc[:, 'beer_servings':'wine_servings']

In [ ]:
drinks.loc[:, 'beer_servings':'wine_servings'].apply(max, axis=1)

In [ ]:
drinks.loc[:, 'beer_servings':'wine_servings'].idxmax(axis=1)

## Exercise

1. Create a new column which contains the age each of the passengers would have had today (Titanic sunk in 1912)
2. Create a new column with the string value *survived* or *died* for each passenger
3. Create a new column `Deck` containig the symbol of the deck on which the passenger was travelling (the first letter of the cabin number)

## Joining data frames

There are multiple methods to join data frames, but we will focus on only two methods and forget about the rest:
- `pd.concat`: joins data frames vertically or horizontally
- `pd.merge`: performs database-like inner, outer, left, and right-joins based on an index or a column

In [ ]:
cities = pd.DataFrame({
    'country': ['Germany', 'Germany', 'Poland', 'Poland', 'Russia', 'Russia'],
    'city': ['Berlin', 'Munich', 'Warsaw', 'Cracow', 'Moscow', 'St Petersburg'],
    'is_capital': [True, False, True, False, True, False]
})

banks = pd.DataFrame({
    'country': ['Germany', 'Germany', 'Poland', 'France', 'France'],
    'name': ['Deutsche Bank', 'Commerzbank', 'Santander', 'Credit Agricole', 'BNP Paribas']
    
})

In [ ]:
pd.concat([cities, banks], axis=0)

In [ ]:
pd.concat([cities, banks], axis=1)

In [ ]:
pd.merge(cities, banks)

In [ ]:
banks.columns = ['country_name', 'bank_name']

pd.merge(cities, banks)

In [ ]:
pd.merge(cities, banks, left_on='country', right_on='country_name')

In [ ]:
cities.set_index('country', inplace=True)
banks.set_index('country_name', inplace=True)

pd.merge(cities, banks, left_index=True, right_index=True)

In [ ]:
pd.merge(cities, banks, left_index=True, right_index=True, how='inner')

In [ ]:
pd.merge(cities, banks, left_index=True, right_index=True, how='left')

In [ ]:
pd.merge(cities, banks, left_index=True, right_index=True, how='right')

In [ ]:
pd.merge(cities, banks, left_index=True, right_index=True, how='outer')

## Using pipes for data processing

The most pythonic way of performing a sequence of operations is to chain operators. However, this may not result in the most readable code. A simple library called `pipe` solves this problem by borrowing the chaining syntax from R.

Before observing `pipe` in action, let us first analyze the behavior of traditional `map()` and `filter()` functions.

In [ ]:
numbers = list(range(10))

even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
even_numbers

In [ ]:
squares = list(map(lambda x: x**2, numbers))
squares

In [ ]:
def square(x): return x**2
def is_even(x): return x % 2 == 0

squares_of_even_numbers = list(map(square, filter(is_even, numbers)))

squares_of_even_numbers

The same functionality can be much easier achieved using pipes.

In [ ]:
from pipe import where, select

list(numbers 
     | where(is_even)
     | select(square)
    )

pipe operator `|` simply passes the output of one function as the input to another function. The remaining functions perform the following:
- `where`: filter out only those element of the iterable which fulfill the condition
- `select`: applies a function to each element of the iterable
- `traverse`: recursively unchain a sequence of iterables
- `groupby`: groups elements of an iterable 
- `dedup`: removes duplicates from an iterable

In [ ]:
from pipe import dedup

numbers = [1, 2, 3, 4, 5] * 3

print(f"Before deduplication: {numbers}")
print(f"After deduplication: {list(numbers | dedup)}")

In [ ]:
from pipe import traverse

nested_numbers = [1, 2, 3, [4, 5], [6, 7], 8, [9, 0]]

print(f"Unnested numbers: {list(nested_numbers | traverse)}")

In [ ]:
from pipe import groupby

numbers = list(range(10))

even_odd_numbers = list(
    numbers 
    | groupby(lambda x: "even" if x % 2 == 0 else "odd") 
    | select(lambda x: {x[0]: list(x[1])})
    )
    
print(f"Even and odd numbers: {even_odd_numbers}")

## Exercise

Using pipes, perform the following queries:

1. List unique ages of women who survived the sinking
2. Compute the mean age of passengers based on the port of embarkment
3. Create a list of titles (Mr., Mrs., etc.) and last names of passengers who died.

---

## PyJanitor

`pyjanitor` is the Python implementation of the `R` package `janitor`. It provides a very clean and coherent API to perform data cleaning and data transformation. Current functionality include:
- Cleaning columns name (multi-indexes are possible!)
- Removing empty rows and columns
- Identifying duplicate entries
- Encoding columns as categorical
- Splitting your data into features and targets (for machine learning)
- Adding, removing, and renaming columns
- Coalesce multiple columns into a single column
- Date conversions (from matlab, excel, unix) to Python datetime format
- Expand a single column that has delimited, categorical values into dummy-encoded variables
- Concatenating and deconcatenating columns, based on a delimiter
- Syntactic sugar for filtering the dataframe based on queries on a column
- Experimental submodules for finance, biology, chemistry, engineering, and pyspark

For full API documentation check the [project website](https://pyjanitor-devs.github.io/pyjanitor/)

Below is just a quick presentation of the idea behind the package

In [ ]:
import janitor
import numpy as np

dirty_df = {
    'column with bad name': ['a', 'b', 'c', 'd'],
    'column_duplicate': [150.0, 200.0, 300.0, 400.0],
    'column_duplicate': [180.0, 250.0, 900, 500.0],
    'column_empty': [np.nan, np.nan, np.nan, np.nan],
    'rename_later': [8, 2, 5, 4],
    'column_constant': [1, 1, 1, 1]
}

In [ ]:
pd.DataFrame.from_dict(dirty_df).clean_names().remove_empty().rename_column(
    "rename_later", "column_renamed"
).sort_naturally("column_renamed").min_max_scale(
    feature_range=(0, 1), column_name="column_duplicate"
).drop_constant_columns()

You can even add your own cleaning functions with ease

In [ ]:
import pandas_flavor as pf


@pf.register_dataframe_method
def make_lower(df, col_name):
    df[col_name] = df[col_name].str.lower()
    
    return df

In [ ]:
df_with_uppercase = pd.DataFrame.from_dict(
{
    'col_lower': ['mary', 'had', 'a', 'little', 'lamb'],
    'col_upper': ['MARY', 'HAD', 'A', 'LITTLE', 'LAMB']
})

df_with_uppercase

In [ ]:
df_with_uppercase.make_lower('col_upper')

# Homework 

During the exercise you will be using the data from the 1987 National Indonesia Contraceptive Prevalence Survey. The detailed description of the dataset can be found at [UCI ML Repository website](https://archive.ics.uci.edu/ml/datasets/Contraceptive+Method+Choice). Read the raw data from the following URL: [https://archive.ics.uci.edu/ml/machine-learning-databases/cmc/cmc.data](https://archive.ics.uci.edu/ml/machine-learning-databases/cmc/cmc.data)

Your tasks are as follows:

- Identify the format of the raw data and read it into a dataframe correctly. Remember to provide a list of meaningful attribute names
- Normalize the `Age` attribute
- Remove the column containing the information about religion
- Create a second dataframe containig only women with highest degree of education
- Recode the `Wife working now` attribute, changing 0 to 'no' and 1 to 'yes'
- Compute the frequency of contraceptive methods grouping by the woman's education level
- Create a new column which will contain the average degree of education between a wife and a husband
- Create a new binary column which will indicate if a given woman has given birth to more than the average number of children
- Change `Standard of living` column into an ordered category
- Recode `Wife's education` attribute into a set of binary attributes using dummy variables
- Plot the histogram of the number of children
- Plot the bar chart of the standard of living

Save your notebook as *firstname.lastname.ipynb* and upload it to [the shared folder](https://drive.google.com/drive/folders/1ndFqSdZ7evS5KdplDsZN7vr7xfMA_Aw_?usp=sharing). The deadline for submitting your solutions is **Sunday, March 31, 21:00**. For this assignement you can get the maximum of **10 pts**.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('cmc.csv', header=None) # do poprawy

data.columns = ['wife_age', 'wife_edu', 'husband_edu', 'num_children', 'wife_religion', 'wife_working', 'husband_occupation', 'standard_of_living_index', 'media_exposure', 'contraceptive_method']
data.drop('wife_religion', axis=1)
data.head()

,wife_age,wife_edu,husband_edu,num_children,wife_religion,wife_working,husband_occupation,standard_of_living_index,media_exposure,contraceptive_method
0,24,2,3,3,1,1,2,3,0,1
1,45,1,3,10,1,1,3,4,0,1
2,43,2,3,7,1,1,3,4,0,1
3,42,3,2,9,1,1,3,3,0,1
4,36,3,3,8,1,1,3,2,0,1

In [3]:
data.wife_age = (data['wife_age'] - data['wife_age'].min()) / (data['wife_age'].max() - data['wife_age'].min())
data.head()

,wife_age,wife_edu,husband_edu,num_children,wife_religion,wife_working,husband_occupation,standard_of_living_index,media_exposure,contraceptive_method
0,0.242424,2,3,3,1,1,2,3,0,1
1,0.878788,1,3,10,1,1,3,4,0,1
2,0.818182,2,3,7,1,1,3,4,0,1
3,0.787879,3,2,9,1,1,3,3,0,1
4,0.606061,3,3,8,1,1,3,2,0,1

In [5]:
women_highest = data[data.wife_edu == data.wife_edu.max()]
women_highest = women_highest.copy()
women_highest.head()

,wife_age,wife_edu,husband_edu,num_children,wife_religion,wife_working,husband_occupation,standard_of_living_index,media_exposure,contraceptive_method
5,0.090909,4,4,0,1,1,3,3,0,1
12,0.848485,4,4,1,1,0,1,4,0,1
22,0.909091,4,4,1,0,1,1,4,0,1
23,0.696970,4,4,1,1,1,1,4,0,1
24,0.969697,4,4,5,1,1,1,4,0,1

In [6]:
data.wife_working = data.wife_working.apply(lambda x: 'yes' if x == 1 else 'no')
data.head()

,wife_age,wife_edu,husband_edu,num_children,wife_religion,wife_working,husband_occupation,standard_of_living_index,media_exposure,contraceptive_method
0,0.242424,2,3,3,1,yes,2,3,0,1
1,0.878788,1,3,10,1,yes,3,4,0,1
2,0.818182,2,3,7,1,yes,3,4,0,1
3,0.787879,3,2,9,1,yes,3,3,0,1
4,0.606061,3,3,8,1,yes,3,2,0,1

In [35]:
temp = data.groupby([data.wife_edu, data.contraceptive_method]).size().reset_index(name='count')
counts = data.wife_edu.value_counts()
temp['count'] = temp['count'].div(temp['wife_edu'].map(counts))
temp = temp.set_index(['wife_edu', 'contraceptive_method'])
temp

                                  count
wife_edu contraceptive_method
1        1                     0.677632
         2                     0.059211
         3                     0.263158
2        1                     0.526946
         2                     0.110778
         3                     0.362275
3        1                     0.426829
         2                     0.195122
         3                     0.378049
4        1                     0.303293
         2                     0.358752
         3                     0.337955

In [40]:
data['avg_edu'] = data.apply(lambda x: int((x.loc['wife_edu'] + x.loc['husband_edu'])/2))
data.head()

0       0.242424
1       0.878788
2       0.818182
3       0.787879
4       0.606061
          ...
1468    0.515152
1469    0.515152
1470    0.696970
1471    0.515152
1472    0.030303
Name: wife_age, Length: 1473, dtype: float64
0       2
1       1
2       2
3       3
4       3
       ..
1468    4
1469    4
1470    3
1471    3
1472    3
Name: wife_edu, Length: 1473, dtype: int64
0       3
1       3
2       3
3       2
4       3
       ..
1468    4
1469    4
1470    3
1471    3
1472    3
Name: husband_edu, Length: 1473, dtype: int64
0        3
1       10
2        7
3        9
4        8
        ..
1468     2
1469     3
1470     8
1471     4
1472     1
Name: num_children, Length: 1473, dtype: int64
0       1
1       1
2       1
3       1
4       1
       ..
1468    1
1469    1
1470    1
1471    1
1472    1
Name: wife_religion, Length: 1473, dtype: int64
0       yes
1       yes
2       yes
3       yes
4       yes
       ...
1468     no
1469    yes
1470     no
1471     no
1472    yes
Name: wife_working, Length: 1473, dtype: object
0       2
1       3
2       3
3       3
4       3
       ..
1468    2
1469    1
1470    1
1471    2
1472    2
Name: husband_occupation, Length: 1473, dtype: int64
0       3
1       4
2       4
3       3
4       2
       ..
1468    4
1469    4
1470    4
1471    2
1472    4
Name: standard_of_living_index, Length: 1473, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1468    0
1469    0
1470    0
1471    0
1472    0
Name: media_exposure, Length: 1473, dtype: int64
0       1
1       1
2       1
3       1
4       1
       ..
1468    3
1469    3
1470    3
1471    3
1472    3
Name: contraceptive_method, Length: 1473, dtype: int64

KeyError: 'wife_edu'